.works {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #393939;
}

.card-img-top {
  max-height: 321px;
}


.card {
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 0;
  margin-top: 20px;
  color: #F2F2F2;
}

.card-title {
  margin-top: 2rem;
  color: #529BFF;
  text-align: center;
}

.card-header {
  background-color: rgba(0,0,0,0);
  border:0;
}

.works > p {
	margin-top: 2rem;
	margin-bottom: -1.5rem;
 	text-align: center;
}